<div class="container p-5">
  <h1 class="p-2">Basic Form</h1>
  <div>
    <form [formGroup]="basicForm" (ngSubmit)="onSubmit()">
      <!-- NAME -->
      <div class="row mb-2">
        <label for="name" class="col-4 col-form-label">Name </label>
        <div class="col-8">
          <input
            type="text"
            class="form-control"
            id="name"
            formControlName="name"
            placeholder="Name"
          />
        </div>
      </div>
      <!--end of NAME -->
      <!-- AGE -->
      <div class="row mb-2">
        <label for="age" class="col-4 col-form-label">Age </label>
        <div class="col-8">
          <input
            type="text"
            class="form-control"
            id="age"
            formControlName="age"
            placeholder="Age"
          />
        </div>
      </div>
      <!--end of AGE -->
      <!-- DROPDOWN -->
      <div class="dropdown">
        <button
          class="btn btn-secondary dropdown-toggle"
          type="button"
          id="dropdownMenuButton"
          data-bs-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Dropdown button
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
      <!-- end of DROPDOWN -->
      <!-- CHECKBOX -->
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="flexCheckDefault"
        />
        <label class="form-check-label" for="flexCheckDefault">
          Default checkbox
        </label>
      </div>
      <!-- end of CHECKBOX -->
      <button class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>

<div>
  <!-- <pre>Form Value: {{ basicForm.value }} </pre> -->
</div>
