<div class="container p-5">
  <h1 class="p-2">Basic Form</h1>
  <div>
    <form [formGroup]="basicForm" (ngSubmit)="onSubmit()">
      <!-- NAME -->
      <div class="row mb-2">
        <label for="name" class="col-4 col-form-label">Name </label>
        <div class="col-8">
          <input
            type="text"
            class="form-control"
            id="name"
            formControlName="name"
            placeholder="Name"
            [ngClass]="{
              'is-valid': name.valid,
              'is-invalid': name.invalid && (name.dirty || name.touched)
            }"
          />
          <div
            *ngIf="name.invalid && (name.dirty || name.touched)"
            class="invalid-feedback"
          >
            <div *ngIf="name.errors?.['required']">Name is required.</div>
            <div *ngIf="name.errors?.['minlength']">
              Name must be at least 4 characters long.
            </div>
          </div>
        </div>
      </div>
      <!--end of NAME -->
      <!-- AGE -->
      <div class="row mb-2">
        <label for="age" class="col-4 col-form-label">Age </label>
        <div class="col-8">
          <input
            type="number"
            class="form-control"
            id="age"
            formControlName="age"
            placeholder="Age"
            [ngClass]="{
              'is-valid': age.valid,
              'is-invalid': age.invalid && (age.dirty || age.touched)
            }"
          />
          <div
            *ngIf="age.invalid && (age.dirty || age.touched)"
            class="invalid-feedback"
          >
            <div *ngIf="name.errors?.['required']">Age is required.</div>
            <div *ngIf="name.errors?.['min']">Age must be more than 1.</div>
            <div *ngIf="name.errors?.['max']">Age must be less than 120.</div>
          </div>
        </div>
      </div>
      <!--end of AGE -->
      <!-- DROPDOWN -->
      <div class="dropdown mb-2">
        <button
          class="btn btn-secondary dropdown-toggle"
          type="button"
          id="dropdownMenuButton"
          data-bs-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Dropdown button
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
      <!-- end of DROPDOWN -->
      <!-- CHECKBOX -->
      <div class="form-check mb-2">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="flexCheckDefault"
        />
        <label class="form-check-label" for="flexCheckDefault">
          Default checkbox
        </label>
      </div>
      <!-- end of CHECKBOX -->
      <button class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>

<div>
  <p>Form Value: {{ basicForm.value | json }}</p>
  <p>Form Valid: {{ basicForm.valid | json }}</p>
  <p>Name Error: {{ name.errors | json }}</p>
  <p>Age Error: {{ age.errors | json }}</p>
</div>

<!-- Name Concat -->
<div class="container p-5">
  <h1 class="p-2">Name Concatenation</h1>
  <form [formGroup]="nameForm">
    <!-- FIRST NAME -->
    <div class="row mb-2">
      <label label for="firstname" class="col-4 col-form-label"
        >First Name</label
      >
      <div class="col-8">
        <input
          type="text"
          class="form-control"
          id="firstname"
          formControlName="firstname"
          placeholder="First Name"
        />
      </div>
    </div>
    <!-- LAST NAME -->
    <div class="row mb-2">
      <label label for="lastname" class="col-4 col-form-label">Last Name</label>
      <div class="col-8">
        <input
          type="text"
          class="form-control"
          id="lastname"
          formControlName="lastname"
          placeholder="Last Name"
        />
      </div>
    </div>
    <!-- OUTPUT -->
    <div class="row mb-2">
      <label label for="nameoutput" class="col-4 col-form-label">Output</label>
      <div class="col-8">
        <input
          type="text"
          class="form-control"
          id="nameoutput"
          placeholder="Result"
          value="{{ resNameConcat }}"
          readonly
        />
      </div>
    </div>
    <button (click)="onNameClick()" class="col-5 btn btn-primary">
      Join Names
    </button>
  </form>

  <div>
    <p>Name Value: {{ nameForm.value | json }}</p>
    <p>Name Valid: {{ nameForm.valid | json }}</p>
    <p>Firstname Error: {{ firstname.errors | json }}</p>
    <p>LastName Error: {{ lastname.errors | json }}</p>
  </div>
</div>

<!-- BMI Calc -->
<div class="container p-5">
  <h1 class="p-2">BMI Calculation</h1>
  <form [formGroup]="BMIForm">
    <!-- Weight -->
    <div class="row mb-2">
      <label label for="weightBMI" class="col-4 col-form-label"
        >Weight (kg)</label
      >
      <div class="col-8">
        <input
          type="number"
          class="form-control"
          id="weightBMI"
          formControlName="weight"
          placeholder="Your Weight (kg)"
        />
      </div>
    </div>
    <!-- Height -->
    <div class="row mb-2">
      <label label for="heightBMI" class="col-4 col-form-label"
        >Height (cm)</label
      >
      <div class="col-8">
        <input
          type="number"
          class="form-control"
          id="heightBMI"
          formControlName="height"
          placeholder="Your Height (cm)"
        />
      </div>
    </div>
    <!-- OUTPUT -->
    <div class="row mb-2">
      <label label for="nameoutput" class="col-4 col-form-label">BMI</label>
      <div class="col-8">
        <input
          type="string"
          class="form-control"
          id="nameoutput"
          placeholder="Result"
          value="{{ resBMICalc }}"
          readonly
        />
      </div>
    </div>
    <button (click)="onBMIClick()" class="col-5 btn btn-primary">
      Calculate BMI
    </button>
  </form>

  <div>
    <p>BMI Value: {{ BMIForm.value | json }}</p>
    <p>BMI Valid: {{ BMIForm.valid | json }}</p>
    <p>Weight Error: {{ weight.errors | json }}</p>
    <p>Height Error: {{ height.errors | json }}</p>
  </div>
</div>
